 @use "../utils/placeholders";
 @use "../utils/variables" as var;
  @use "../utils/functions" as fn;
   @use "../utils/mixins" as mx;


@each $value in "danger", "warning", "success" {
    .badge-#{$value} {
@extend %details-accent; 

min-width: 96px;
padding: 4px 8px;

  text-align: center;
  border-radius: 20px;
  color: fn.get-color('light-primary');
   background-color:fn.get-color($value);
    }
}