@use 'sass:map';
@use 'sass:list';

@use 'variables' as var;
@use 'functions' as fn;


@mixin mg($bp: 'sm', $type: 'min', $is-retina: false) {
  
  $width: null;

  @if map.has-key(var.$breakpoints, $bp) {
    $width: map.get(var.$breakpoints, $bp);
  } @else {
    @error "Breakpoint `#{$bp}` не найден!";
  }


  @if $type == 'max' {
    $width: $width - 0.02px;
  }

  
  $query: "(#{$type}-width: #{$width})";

 
  @if $is-retina {
    $query: "#{$query} and ((min-device-pixel-ratio: 2) or (min-resolution: 192dpi) or (min-resolution: 2dppx))";
  }


  @media only screen and #{$query} {
    @content;
  }
}


@mixin frame($width, $height: $width, $is-circle: false) {
  width: $width;
  height: $height;

  @if $is-circle { 
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    object-fit: cover;
    object-position: top center;
  }
}


@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;

    &:hover {
      background-color: rgba(#fff, 0, 0.03);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: fn.get-color('light-secondary');
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 100px;

    &:hover {
      background-color: fn.get-color('accent-primary');
    }
  }
}


@mixin ease($ease, $properties...) {
  @if map.has-key(var.$easings, $ease) {
    $ease-value: map.get(var.$easings, $ease);
    transition: $ease-value;
  } @else {
    @warn "The variable $ease is not defined";
  }

  @if list.length($properties) > 0 {
    transition-property: $properties;
  }
}

@mixin viewport-md {
  @include mg('md') {
    @content;
  }
}