 @use "../utils/placeholders";
 @use "../utils/variables" as var;
  @use "../utils/functions" as fn;
   @use "../utils/mixins" as mx;


// html {
//   font-size: 8px;
//   @include mixins.viewport-md {
//     font-size: 10px;
//   }
// }
body {
  @extend %main-text;
  
  font-family: var.$main-font, sans-serif;
  background: fn.get-color('dark-primary');
  color: fn.get-color('light-secondary');
 }


button{
  color: fn.get-color('current');
  font-family: inherit;
  cursor: pointer;
}

summary{
list-style-type: none;
}
// .wrapper {
//   min-height: 100vh;
//   text-align: center;
//   display: flex;
//   flex-flow: column;
// }

// .container {
//   max-width: 1180px;
//   margin: 0 auto;
//   padding: 0 2rem;
// }

// .dark {
//   color-scheme: dark;
// }

// .title {
//   font-size: 4rem;

//   span {
//     font-size: 5rem;
//     text-transform: uppercase;
//     font-weight: 700;
//     @include mixins.text-gradient;
//   }
// }

// .footer {
//   padding: 3rem 0;
//   font-size: 1.6rem;

//   a {
//     text-decoration: none;
//     color: var(--brand-color);
//     transition: 0.2s ease;
//     &:hover {
//       color: var(--brand-light-color);
//     }
//   }
// }
