@if index($btn-types, info){
/* ==Info== */
    .btn--info{
      border-color: #f07f2f;

        &:active{
              border-color: darken(#4e75ff, 10% );
        }
        @media (hover: hover ) {
            &:hover,
            &:focus{
              border-color: lighten(#4e75ff, 10% );
            }
        }

        &[disaple] {
           background-color: rgba(#b5b5be, 0.5);
        }
    }
} ;