@if index($btn-types, primary){
/* ==Primary== */
    .btn--primary{
        background-color: #f07f2e; 

        &:active{
              background-color:#D14A00;
        }
        @media (hover: hover ) {
            &:hover,
            &:focus{
               background-color: #f15c27;
               box-shadow: 0px 4px 10px 0px rgba(240,127,46,0.25);
            }
        }

        &[disaple] {
            background-color: #b5b5be;
        }
    }
} ;