@if index($btn-types, secondary){
/* ==Secondary== */
    .btn--secondary{
      
        &:active{
              color:#D14A00;
        }
        @media (hover: hover ) {
            &:hover,
            &:focus{
              color: #f15c27;
            }
        }

        &[disaple] {
           color: #b5b5be;
        }
    }
} ;